﻿<%@ Page Title="Address Details" Language="C#" AutoEventWireup="true" CodeBehind="AddressDetails.aspx.cs" Inherits="database_cw_4.AddressDetails" MasterPageFile="~/Site.Master"  %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
</asp:Content>