﻿<%@ Page  Title="Job Details" Language ="C#" AutoEventWireup="true" MasterPageFile="~/Site.Master" CodeBehind="JobDetails.aspx.cs" Inherits="database_cw_4.SomePage" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
</asp:Content>
