﻿<%@ Page  Title="Role Details" Language="C#" AutoEventWireup="true" CodeBehind="RoleDetails.aspx.cs" MasterPageFile="~/Site.Master" Inherits="database_cw_4.WebForm1" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
</asp:Content>

